$blockSize: 52px;

.Snake {
}

.SnakePlayground {
  display: flex;
  .SnakePlayground__row {
    display: flex;
    flex-direction: column;
  }

  .SnakePlayground__block {
    width: $blockSize;
    height: $blockSize;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
  }

  .SnakePlayground__element {
    width: 60%;
    height: 60%;
    &.snake {
      background-color: black;
      border-radius: 50%;
    }
    &.apple {
      background-color: green;
      border-radius: 50%;
    }
  }
}
