@import "~bootstrap/scss/bootstrap";
@import "./styles/index.scss";

body {
  background-color: $gray-300;
}

.content {
  background-color: $white;
  border-radius: $border-radius-2xl;
  padding: $container-padding-x;
  margin-top: $spacer;
  margin-bottom: $spacer * 1.5;
}

section {
  margin-top: 24px;
  margin-bottom: 32px;
}
